# Core functionality - changes here should be rare!
/src/app.py                   @Mr-Banjoko
/src/backend/database.py      @Mr-Banjoko
/src/backend/routers/auth.py  @Mr-Banjoko

# The frontend will need refactored soon to be more object oriented.
/src/static/   @Mr-Banjoko
